{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

<div class="container mt-4">
    <form class="row g-3 needs-validation" novalidate method="post" action="{{ url_for('register') }}">
        <div class="mb-3">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" required>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" name="age" min="14" max="100" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="form-text text-center mt-4 text-dark">
        Have Account?
        <a href="{{ url_for('login') }}" class="text-dark fw-bold"> Login</a>
    </div>
</div>
{% endblock %}